section.brands-slider {
	height: 38vh;
	background-color: $bg-primary;

	& article.brands-gallery {
		margin-bottom: 0;
		display: flex;
		flex-direction: column;
		gap: 5rem;

		header {
			text-align: center;
			& h1 {
				color: $color-primary;
			}

			& h4 {
				color: #eee;
			}
		}

		& div.splide-wrapper {
			& img.brand-logo {
				height: 100px;
			}
		}
	}
}
