footer {
	display: grid;
	gap: 40px;
	grid-auto-columns: 1fr;
	grid-template-areas:
		'one'
		'two'
		'three'
		'four';
	background-color: $bg-primary;
	color: white;
	font-size: 0.9rem;

	& a {
		color: inherit;
		transition: color 0.25s ease-out;

		&:hover,
		&:active {
			color: $color-primary;
		}
	}

	& h4 {
		color: $color-primary;
	}

	& svg {
		width: 1.5rem;
		height: 1.5rem;
		display: inline-block;
		color: $color-primary;
	}

	article {
		margin: 0;
	}

	& section.footer-util-info {
		grid-area: one;
		display: flex;
		justify-content: space-evenly;
		align-items: center;
		flex-wrap: wrap;
		gap: 40px;

		& article.footer-social-links {
			display: flex;
			flex-direction: column;
			align-items: center;
			gap: 10px;

			& img {
				width: 140px;
				height: 140px;
			}

			& ul.footer-social-links {
				display: flex;
				gap: 10px;

				& svg {
					color: white;
					transition: all 0.25s ease-out;
				}

				& svg:hover,
				& svg:active {
					color: $color-primary;
					transform: scale(1.1);
				}
			}
		}

		& ul.footer-contacts {
			display: flex;
			flex-direction: column;
			gap: 4px;

			& li {
				display: flex;
				align-items: center;
				gap: 8px;
			}
		}

		& ul.footer-address {
			display: flex;
			flex-direction: column;
			gap: 4px;

			& li {
				display: flex;
				gap: 8px;

				& span.schedule-wrapper {
					display: flex;
					flex-direction: column;
				}
			}

			& p:first-child {
				align-items: center;
			}

			& p:last-child svg {
				margin-top: 2px;
			}
		}
	}

	& section.footer-quickaccess {
		grid-area: two;
		display: flex;
		justify-content: space-evenly;
		flex-wrap: wrap;
		gap: 40px;

		& article.footer-sitemap {
			display: flex;
			gap: 40px;

			& > * {
				display: flex;
				flex-direction: column;
				gap: 4px;
			}
		}

		& article.footer-policys {
			display: flex;
			gap: 40px;

			& ul.policys {
				display: flex;
				flex-direction: column;
				gap: 4px;
			}

			& a.claims {
				width: 150px;
				margin-bottom: auto;
			}
		}
	}

	& section.footer-newsletter {
		grid-area: three;
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 20px;

		header {
			text-align: center;
		}

		form {
			padding: 0 30%;
			display: flex;
			flex-direction: column;
			gap: 1rem;

			& div.form-control:first-child {
				display: flex;
				flex-direction: column;
				background-color: $bg-primary;
				color: $color-primary;

				& label {
					margin-bottom: 4px;
				}
			}

			& div.form-control {
				& input[type='checkbox'] {
					width: 1.25rem;
					height: 1.25rem;
					margin-right: 8px;
					accent-color: $bg-secondary;
					cursor: pointer;
				}

				& label {
					cursor: pointer;

					& a,
					& a:visited {
						color: $color-primary;
					}
				}
			}
		}
	}

	& section.copyright {
		grid-area: four;
		text-align: center;
		font-size: 0.8rem;
	}
}
