footer {
	display: grid;
	gap: 40px;
	background-color: $bg-primary;
	color: white;
	font-size: 0.9rem;

	& a {
		color: inherit;
		transition: color 0.3s ease-in-out;

		&:hover,
		&:active {
			color: $color-primary;
		}
	}

	& h4 {
		color: $color-primary;
	}

	& svg {
		width: 1.25rem;
		height: 1.25rem;
		display: inline-block;
		color: $color-primary;
	}

	article {
		margin: 0;
	}

	& section.footer-util-info {
		display: flex;
		justify-content: space-evenly;
		align-items: center;
		flex-wrap: wrap;
		gap: 40px;

		& article.footer-social-links {
			display: flex;
			flex-direction: column;
			align-items: center;
			gap: 10px;

			& img {
				width: 140px;
				height: 140px;
			}

			& div.footer-social-links-wrapper {
				display: flex;
				gap: 10px;

				& svg {
					color: white;
				}
			}
		}

		& article.footer-contacts {
			display: flex;
			flex-direction: column;
			gap: 4px;

			& p {
				display: flex;
				align-items: center;
				gap: 8px;
			}
		}

		& article.footer-address {
			display: flex;
			flex-direction: column;
			gap: 4px;

			& p {
				display: flex;
				gap: 8px;

				& span.schedule-wrapper {
					display: flex;
					flex-direction: column;
				}
			}

			& p:first-child {
				align-items: center;
			}

			& p:last-child svg {
				margin-top: 2px;
			}
		}
	}

	& section.footer-quickaccess {
		display: flex;
		justify-content: space-evenly;
		flex-wrap: wrap;
		gap: 40px;

		& article.footer-sitemap {
			display: flex;
			gap: 40px;

			& > * {
				display: flex;
				flex-direction: column;
				gap: 4px;
			}
		}

		& article.footer-policys {
			display: flex;
			gap: 40px;

			& div.policys {
				display: flex;
				flex-direction: column;
				gap: 4px;
			}

			& a.claims {
				width: 150px;
				margin-bottom: auto;
			}
		}
	}

	& section.footer-newsletter {
	}
}
