:root {
	font-family: $font-primary;
	line-height: 1.5;
	font-weight: 400;

	/* temporary */
	// background-color: #333;
	// color: #fff;
	/* --------- */

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

a {
	text-decoration: none;
}

ul,
ol {
	list-style: none;
}

.uppercase-text {
	text-transform: uppercase;
}
