:root {
	font-family: $font-primary;
	line-height: 1.5;
	font-weight: 400;

	/* temporary */
	// background-color: #333;
	// color: #fff;
	/* --------- */

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

body {
	/* Hide scrollbar for IE, Edge and Firefox */
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}

/* Hide scrollbar for IE, Edge and Firefox */
body::-webkit-scrollbar {
	display: none;
}

a {
	text-decoration: none;
}

/* Headers */
h1 {
	font-size: 1.4rem;
}

h2 {
	font-size: 1.3rem;
}

h3 {
	font-size: 1.2rem;
}

h4 {
	font-size: 1.1rem;
}

h5 {
	font-size: 1rem;
}

h6 {
	font-size: 0.9rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: $color-secondary;
	text-shadow: $shadow-text;
}

h1.underline,
h2.underline,
h3.underline,
h4.underline,
h5.underline,
h6.underline {
	margin-bottom: 1.5rem;
	position: relative;
	display: inline-block;
	font-weight: 600;
}

h1.underline::before,
h2.underline::before,
h3.underline::before,
h4.underline::before,
h5.underline::before,
h6.underline::before {
	content: '';
	width: 50%;
	height: 2px;
	position: absolute;
	left: 50%;
	bottom: -2px;
	border-radius: 8px;
	transform: translateX(-50%);
	background-color: $bg-secondary;
}

article {
	margin-bottom: 20px;
}

ul,
ol {
	list-style: none;
}

select,
input {
	width: 100%;
	padding: 8px;
	border-radius: 8px;
	color: $color-secondary;
	outline-color: $color-secondary;
	box-shadow: $shadow-box;
}

/* Buttons */
button.btn {
	margin: auto;
	padding: 0.5rem 1rem;
	border: none;
	border-radius: 8px;
	box-shadow: $shadow-box;
	font-weight: 500;
	background-color: $bg-secondary;
	color: $color-secondary;
	transform: translateY(0);
	transition: all 0.25s ease-out;
	cursor: pointer;
}

button.btn:hover,
button.btn:active {
	background-color: #fdca93;
	transform: translateY(-1px);
	box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
}
button.btn:active {
	background-color: #fdb466;
}

button.btn:focus {
	outline: none;
}

/* Cards */
div.card {
	position: relative;
	border: 1px solid $color-secondary;
	border-radius: 8px;
	box-shadow: $shadow-box;
	background-color: $bg-primary;
	overflow: hidden;

	& div.info-wrapper {
		width: 100%;
		position: absolute;
		top: 4px;
		right: 0;
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		justify-content: center;
		gap: 4px;

		& span {
			padding: 2px 12px;
			border-top-left-radius: 8px;
			border-bottom-left-radius: 8px;
			background-color: rgba(55, 65, 81, 0.85);
			color: $color-primary;
		}
	}
}

/* Utility classes */
.uppercase-text {
	text-transform: uppercase;
}

.temp {
	background-color: salmon;
}
