/* Media Queries */

// Mobile phones
@media (min-width: 768px) {
	nav.main-nav {
		flex-direction: row;
		justify-content: space-between;

		& .nav-container .logo {
			visibility: hidden;
			opacity: 0;
		}

		& .hamburger {
			display: none;
		}

		& .menu {
			max-height: none;
			flex-direction: row;
			overflow: visible;

			& li {
				& a:active,
				& span:active,
				& a:hover,
				& span:hover {
					background-color: transparent;
					font-weight: 700;
				}

				& a:active,
				& a.active,
				& span:active {
					color: $color-primary;
					text-shadow: none;
				}
			}
		}
	}

	.sub-menu {
		position: absolute;
		right: 0;
		display: flex;

		& li:hover {
			font-weight: 700;
		}
	}
}

// Tablets
@media (min-width: 769px) and (max-width: 992px) {
}

// Desktop
@media (min-width: 993px) {
}
