/* Media Queries */

// MainNavBar styles for Tablets and Desktop
@media (min-width: 769px) {
	nav.main-nav {
		flex-direction: row;
		justify-content: space-between;

		& .nav-container {
			padding: 10px 20px;
		}

		& .nav-container .logo {
			visibility: hidden;
			opacity: 0;
		}

		& .hamburger {
			display: none;
		}

		& .menu {
			max-height: none;
			padding-top: 40px;
			// padding: 20px;
			// background-color: rgba(55, 65, 81, 0.5);
			flex-direction: row;
			overflow: visible;

			& li {
				& a,
				& span {
					padding: 5px 10px;
				}

				& a:active,
				& span:active,
				& a:hover,
				& span:hover {
					background-color: transparent;
					font-weight: 700;
				}

				& a:active,
				& a.active,
				& span:active {
					color: $color-primary;
					text-shadow: none;
				}

				& a:active,
				& a.active {
					background-color: rgba(55, 65, 81, 0.5);
					border-radius: 16px;
				}
			}
		}
	}

	.sub-menu {
		position: absolute;
		right: 20px;
		display: flex;

		& li {
			font-size: 0.85rem;
		}

		& li:hover {
			font-weight: 700;
		}
	}
}

// small screens
@media (max-width: 768px) {
	.container {
		padding: $padding-mobile;
	}

	.main-header {
		& .main-nav {
			padding: 0 4%;
		}

		& .page-logo {
			left: 4%;
		}
	}

	div.main-banner {
		background-image: url('/images/pictures/main-banner/main-banner_768x432.jpg');
	}
}

// medium screens
@media (min-width: 769px) and (max-width: 992px) {
	.container {
		padding: $padding-tablet;
	}

	.main-header {
		& .main-nav {
			padding: 0 6%;
		}

		& .page-logo {
			width: 140px;
			height: 140px;
			left: 6%;
			display: block;
		}
	}

	div.main-banner {
		height: 100vh;
		background-image: url('/images/pictures/main-banner/main-banner_1980x1114.jpg');

		& .main-banner-title {
			margin-top: 16rem;

			& h1 {
				font-size: 2.5rem;
			}
		}
	}

	article.search-tool {
		& .search-tool-form {
			& .form-control {
				flex: 1 1 260px;
			}
		}
	}
}

// big screens
@media (min-width: 993px) {
	.container {
		padding: $padding-desktop;
	}

	.main-header {
		& .main-nav {
			padding: 0 8%;
		}

		& .page-logo {
			width: 160px;
			height: 160px;
			left: 8%;
			display: block;
		}
	}

	div.main-banner {
		height: 100vh;
		background-image: url('/images/pictures/main-banner/main-banner_4096x2304.jpg');

		& .main-banner-title {
			margin-top: 16rem;

			& h1 {
				font-size: 2.5rem;
			}
		}
	}

	article.search-tool {
		& .search-tool-form {
			& .form-control {
				flex: 1 1 160px;
			}
		}
	}
}
