/* CSS Variables */

/* Fonts */
$font-brand: 'Galada-Regular', 'Galada', cursive;
$font-primary: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

/* Colors */
$color-primary: #ffbe79;
$color-secondary: #374151;

$bg-primary: #374151;
$bg-secondary: #ffbe79;

/* .container padding */
$padding-mobile: 20px 4%;
$padding-tablet: 20px 6%;
$padding-desktop: 40px 8%;
